<div class="form-control">
    <label>@Label</label>
    <InputText @bind-Value="@Value" />
</div>

@code { // binding parameters
protected override void OnInit()
{
    base.OnInit();
}

[Parameter] public string Value { get; private set; }

[Parameter] public EventCallback<string> ValueChanged { get; private set; }

[Parameter] public string Label { get; private set; }
}
