<div class="form-control">
    <label>@Label</label>
    <InputText @bind-Value="@Value" />
</div>

@code { 
    // binding parameters
    private string _value;
    [Parameter]
    public string Value
    {
        get => _value;
        private set => ValueChangedHelper.Set<string>(ref _value, value, ValueChanged);
    }

    [Parameter] public EventCallback<string> ValueChanged { get; private set; }

    [Parameter] public string Label { get; private set; }

}